version: "3.0"

services:
    eduard-ipc127e:
        image: eduartrobotik/eduart-robot:1.0.3
        container_name: eduard-raspberry-ethernet-1.0.3
        user: user
        restart: always
        privileged: true
        ipc: host
        pid: host
        mem_limit: 300mb
        environment:
            - EDU_ROBOT_NAMESPACE=${EDU_ROBOT_NAMESPACE}
            - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}
            - EDU_MOTOR_MODEL=${EDU_MOTOR_MODEL:-faulhaber}
            - CYCLONEDDS_URI=/home/user/ros/launch_content/cyclone_profile.xml      
        network_mode: "host"
        command: bash -c 'cd /home/user/ros/launch_content; ros2 launch eduard-raspberry-ethernet.launch.py'
        volumes:
            - './launch_content:/home/user/ros/launch_content:r'
        devices:
            - '/dev:/dev'

    eduard-robot-control:
        image: eduartrobotik/eduart-robot-control:0.5.3
        container_name: eduard-robot-control-raspberry-ethernet-0.5.3
        user: user
        group_add:
            - "102"
        restart: always
        privileged: true
        ipc: host
        pid: host
        mem_limit: 300mb
        environment:
            - EDU_ROBOT_NAMESPACE=${EDU_ROBOT_NAMESPACE}
            - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}
            - CYCLONEDDS_URI=/home/user/ros/launch_content/cyclone_profile.xml          
        network_mode: "host"
        command: bash -c 'cd /home/user/ros/launch_content; ros2 launch robot_remote_control_raspberry.launch.py & ros2 launch eduard_robot_description.launch.py'
        devices:
            - '/dev:/dev'
        volumes:
            - '/dev:/dev'
            - './launch_content:/home/user/ros/launch_content:r'            
