version: "3.0"

services:
    eduard-ipc127e:
        image: eduartrobotik/eduart-robot:1.0.3
        container_name: rebel-move-1.0.3
        user: user
        restart: always
        privileged: true
        ipc: host
        pid: host
        mem_limit: 300mb
        environment:
            - EDU_ROBOT_NAMESPACE=${EDU_ROBOT_NAMESPACE}
            - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}           
        network_mode: "host"
        command: bash -c 'cd /home/user/ros/launch_content; ros2 launch rebel-move-360.launch.py'
        volumes:
            - './launch_content:/home/user/ros/launch_content:r'
        devices:
            - '/dev:/dev'

    eduard-robot-control:
        image: eduartrobotik/eduart-robot-control:0.5.3
        container_name: eduard-robot-control-ipcbot-0.5.3
        user: user
        restart: always
        privileged: true
        ipc: host
        pid: host
        mem_limit: 300mb
        command: bash -c 'cd /home/user/ros/launch_content; ros2 launch robot_remote_control.launch.py'        
        environment:
            - EDU_ROBOT_NAMESPACE=${EDU_ROBOT_NAMESPACE}
            - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}      
        network_mode: "host"
        devices:
            - '/dev:/dev'
        volumes:
            - '/dev:/dev'
            - './launch_content:/home/user/ros/launch_content:r'