version: "3.0"

services:
    eduard-iot2050:
        image: eduartrobotik/eduart-robot:1.1.0
        container_name: eduard-iotbot-1.1.0
        user: root
        restart: always
        privileged: true
        ipc: host
        pid: host
        mem_limit: 300mb
        environment:
            - EDU_ROBOT_NAMESPACE=${EDU_ROBOT_NAMESPACE}
            - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}
            - EDU_MOTOR_MODEL=${EDU_MOTOR_MODEL:-faulhaber}
            - CYCLONEDDS_URI=/home/user/ros/launch_content/cyclone_profile.xml         
        network_mode: "host"
        command: bash -c 'cd /home/user/ros/launch_content; ros2 launch eduard-iot2050.launch.py'
        volumes:
            - './launch_content:/home/user/ros/launch_content:r'
        devices:
            - '/dev:/dev'
        group_add:
            - dialout

    eduard-robot-control:
        image: eduartrobotik/eduart-robot-control:0.5.0
        container_name: eduard-robot-control-iotbot-0.5.0
        user: root
        restart: always
        privileged: true
        ipc: host
        pid: host
        mem_limit: 300mb
        environment:
            - EDU_ROBOT_NAMESPACE=${EDU_ROBOT_NAMESPACE}
            - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}
            - CYCLONEDDS_URI=/home/user/ros/launch_content/cyclone_profile.xml         
        network_mode: "host"
        command: bash -c 'cd /home/user/ros/launch_content; ros2 launch robot_remote_control_iot2050.launch.py & ros2 launch eduard_robot_description.launch.py hardware_type:=iot2050'
        volumes:
            - './launch_content:/home/user/ros/launch_content:r'
            - '/dev:/dev'
        devices:
            - '/dev:/dev'
